
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
*{
  font-family: "Roboto Slab", serif;
}
.bi {
	vertical-align: -.125em;
	fill: currentColor;
  }

  .bd-mode-toggle {
	z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
	display: block !important;
  }
  .form-group {
    display: flex;
    align-items: center;
}

.label-right {
    margin-left: 10px; /* Ajusta el margen según sea necesario */
}
.btn-primary {
  transition: transform 0.1s ease-in-out; /* Suaviza la transición */
}

.btn-primary:active {
  transform: scale(1.1); /* Aumenta el tamaño del botón al presionar */
}

.letra{
  font-family: "Roboto Slab", serif;
}
